---
import logo from '../images/Old School 500x500 Logo.png'
import Insta from "../images/Instagram_Logo.png"
import Face from "../images/Facebook_Logo.png"
import Tiktok from "../images/TikTok_Logo.png"
import Youtube from "../images/YouTube_Logo.png"
---
<header class="header">
  <meta property="og:image" content={logo} />
  <div class="container">
    <div class="logo">

    </div>
    <nav>
      <ul>
        <li><a href="https://www.youtube.com/@OldSchoolBJJBelgrade"><img src={Youtube}></a></li>
        <li><a href="https://www.instagram.com/oldschoolbjjbelgrade/"><img src={Insta}></a></li>
        <li><a href="https://www.facebook.com/OSBJJ"><img src={Face}></a></li>
        <li><a href="https://www.tiktok.com/@oldschoolbjj"><img src={Tiktok}></a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .header {
  height: 70px;
  background: var(--color-primary);
}

.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.header img {
  height: 35px;
  vertical-align: middle;
}

.header nav ul {
  display: flex;
}

.header nav ul li {
  padding: 0 20px;
}

.header nav ul li a {
  color: #fff;
}
</style>